html,
body {
	margin:0;
   padding:0;
   height:100%;

   background: #e6e6e6;
}
/********* Global ***********************/
body {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	color: #393939;
}

h1,h2,h3 {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

h2 {
	margin-bottom: 0px;
}
h3 {
	font-size: 18px;
}

#wrap {
	min-height: 100%;
}

/* #header{ */
/* 	position: relative; */
/* 	padding-top: 10px;	 */
/* 	margin-top: 0px; */
/* 	 */
/* 	background: url({%asset_path merlion.png%}) no-repeat top left; */
/*  */
/* } */
/*  */
#header h1 {
	padding: 0;
	margin: 0px 0 10px 125px;
}

#logotipo img{
	/*text-align: center;*/	
}


#topbar {
	position: relative;
	height: 25px;
}

.langbar {
	position: absolute;
	bottom: 0;
	right: 230px;

	background: #fff; /*url('../images/alpha.png') left top;*/
	padding-left: 5px;
	padding-right: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	line-height: 20px;
}


.search_container {
	background: #fff; /*url('../images/alpha.png') left top;*/
	line-height: 15px;

	position: absolute;
	bottom: 0;
	right: 0;

	padding-left: 5px;
	padding-right: 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

	line-height: 20px;
}

.i18n_pt,
.i18n_en {
	float: left;
	margin: 2px;
	line-height: 20px;
}

.i18n_pt a,
.i18n_en a {
	vertical-align: middle;
}
.i18n_en{
	margin-right: 10px;
}

.search_container img {
	vertical-align: middle;
}

.search_box {
	float: left;
	margin-left: 3px;
}


.search_box input[type="text"] {
	width: 150px;
	float: left;
	height: 16px;
	
	/*border: 1px solid #BAC6C8;
	border-top: 0px;*/
	border: 0px;
	border: 1px solid #e9e8e8;

	padding-left: 5px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;

}

.search_box input[type="submit"] { 
	float: left;
	height: 20px;
	margin: 0.5em 0 0 0.5em;
	border: 1px solid #EAEAEA;
	font-size: 0.9em;
	padding: 3px 3px;
	text-shadow: white 1px 1px 2px;
	border: 1px solid #F0F0F0;
	border-bottom-color: #B5B5B5;
	border-left-color: #D2D2D2;
	border-right-color: #D2D2D2;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #EAEAEA;
}

.search_box input[type="submit"]:hover {
	background: #EAEAEA;

	border: 1px solid #B5B5B5;
	border-bottom-color: #F0F0F0;
	border-left-color: #D2D2D2;
	border-right-color: #D2D2D2;
	cursor: pointer;
}

/********** CONTENT ***********************/

#body {
	padding-top: 0px;
}

.container #content-search,
.container #content {
	background: #fff;
	padding: 0px 10px 25px 10px;
}

#body {
	border-bottom: 1px solid #d9d9d9;
	border-top:4px solid #edd63a;
}

#content-search,
#content {
	margin-top: -4px;
	border-top: 4px solid #d43430;
}


#content p img {
	float: left;
	margin: 0px 10px 0 0;
	padding: 5px;
	border: 1px solid #ccc;
}

/********** FOOTER ***********************/
#footer {
	
	padding: 10px 0 0px 0;
	/*border-top: 2px solid #ccc;*/
	margin-top: 1px;
	
	text-align: center;
}

#footer .container cite {
	background: url(/images/escudo.png) no-repeat left top;
	display: block;
	width: 63px;
	height: 63px;
	position: absolute;
	top: -32px;
	left: 50%;
	margin-left: -31.5px;
}

/********** NAVIGATION ***********************/
#navigation .container {
	height: 35px;
	/*background: #E9E9E9;

	border-top-left-radius: 3px;
	border-top-right-radius: 3px;*/
	margin-top: 20px;
}

#navigation .container ul {
	padding-left: 0;
	list-style: none
}

#navigation .container>ul>li{
	/*display: inline-block;*/
	
	vertical-align: top;
	text-align: center;

	text-transform: uppercase;
	size: 12px;
}

#navigation .container ul li:hover{
	
	color: #E9E9E9;
	cursor: pointer;
}



#nav{
	margin-top: -4px;
	border-top:4px solid #28902f;
	list-style:none;
	margin-bottom:10px;
	/* Clear floats */
	float:left;
	width:100%;
	/* Bring the nav above everything else--uncomment if needed.*/
	/*position:relative;
	z-index:5;*/
	padding-left: 0;

}
#nav li{
	position:relative;
}
#nav a{
	display:block;
	padding:5px 10px 5px 9px;
	color:#3e3e3e;
	background:#fff;
	text-decoration:none;

}

#nav>li>a {
	border-bottom: 1px dotted #ccc;
}

#nav li.current a,
#nav a:hover{
	color:#fff;
	background:#75A921;
	text-decoration: none;
	font-weight:normal;
}

#nav li ul {
	list-style: none;
	padding-right: 0;

}

#nav li ul li a {
	background: #efefef;
}

.division {
	line-height: 2px;
	border-bottom: 1px dotted #bbb;
	margin-bottom: 8px;
	margin-top: 2px;
}

.spacer {
	line-height: 10px;
	margin-top: 10px;
}

.nospace {
	height:0;
	line-height: 0;
}

#gallery_container {
	margin: 0 auto;
}


#content h3{
	clear: both;
	border-bottom: 1px solid #ccc;
	margin-bottom: 0px;
}

#gallery_container h3{
	padding-top: 20px;
}

.item{
	margin: 10px 10px 0 0px;
	float: left;
}

.item img {
	height: 150px;
}

.goToTop {
	text-align: center
}

img.merlion {
	width: 200px;
}

.alert_box {
	margin-top: 5px;
	margin-bottom: 5px;
}

.alert_box h2 {
	background: #ff9c00; 
	padding-left: 6px;
	padding-right: 6px;
	padding: .2em .5em;
	line-height: 1.1em;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	color: white;
}

.alert_box .alert_message {
	font-size:1.2em; 
	margin-top: 0px;
	padding: 10px;
	border: 1px solid #ccc;
	border-top: 0px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

ul.address {
  list-style-type: none;
}


p.signature span{
	padding-left: 100px;
}

/* CLEAR FIX*/
.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

